<div>
  <p>Can Play: {{canPlay}}</p>
  <p>Playing: {{playing}}</p>
  <p>Duration: {{duration}}</p>
  <p>Progress: {{progress}}</p>
  <p>Current Time: {{currentTime}}</p>
  <p>Time Left: {{timeLeft}}</p>
  <button onclick={{action getMetaData}}>MetaData</button>
  <button onclick={{action playPause}}>{{#if playing}}pause{{else}}play{{/if}}</button>
  <audio data-id="audio" src="https://emberweekend.s3.amazonaws.com/ep-114-ember-weekend.mp3" />
</div>
